@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shared</title>
</head>
<body>
    <h1>Views/Shared/Shared.html</h1>
</body>
</html>