@using _16_MODEL_REPOS.Models

@{
    ViewBag.Title = "GetOne";
    Phone phone = ViewBag.GetOne;
}
<h2>GetOne</h2>
<table class="table">
   
    

        <tr>
            <td>@phone.Id</td>
            <td>@phone.Name</td>
            <td>@phone.Manufacturer</td>
            <td>@phone.Price</td>

        </tr>
    
</table>



