@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Square</title>
    </head>
    <body>
        <h1>Result: @ViewBag.Result</h1>
    </body>
</html>
