@{
    Layout = null;
}
@model Core_26.Controllers.HomeController.A

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sum</title>
</head>
<body>
    <h1>Sum = @Model.sum()</h1>
</body>
</html>