@{
    //Layout = "~/Views/Layout/KYALayout.cshtml";
}

<p style="color: red">
    Вне секции 1
</p>

@section head
    {
    <p style="color: red">
        Секция Head
    </p>
}

@section main
    {
    <p style="color: red">
        Секция Main
    </p>
}

<p style="color: red">
    Вне секции 2
</p>

@section foot
    {
    <p style="color: red">
        Секция Foot
    </p>
}